
<!DOCTYPE html>
<html></html>

    <head>
        <title>To Do List </title>
    </head>
    <body>

        <h2>To Do List</h2>
        <table>
            <tr>
                <th>Task</th>
                <th>Email</th>
                <th>Priority</th>
            </tr>
            {% for task in tasks %}
                {% for key, value in task.items() %}
            <tr>
                <td>{{  value.get('task')  }}</td>
                <td>{{  value.get('email')  }}</td>
                <td>{{  value.get('priority')  }}</td>
            </tr>
                {% endfor %}
            {% endfor %}
        </table>
    </body>
</html>
